<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
		/>
		<title>VueStorage</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
		<style>
			[v-cloak] {
				display: none;
			}
		</style>
		<script src="VueStorage.js"></script>
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
		/>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.0.4/vuetify.min.css"
		/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.0.4/vuetify.min.js"></script>
	</head>
	<body>
		<v-app
			v-cloak
			id="App"
		>
			<v-toolbar
				dark
				color="cyan darken-3"
				app
			>
				<v-toolbar-title>VueStorage</v-toolbar-title>
				<v-spacer></v-spacer>
				<v-btn
					icon
					href="https://github.com/SeregPie/VueStorage"
					target="_blank"
				>
					<v-icon>fab fa-github</v-icon>
				</v-btn>
			</v-toolbar>
			<v-content>
				<v-container
					fluid
					fill-height
					hide-overflow
				>
					<div
						style="
							width: calc(100% + 32px);
							height: calc(100% + 32px);
							display: flex;
							flex-wrap: wrap;
							justify-content: center;
							align-items: center;
							align-content: center;
							margin: -16px;
						"
					>
						<div
							style="
								padding: 16px;
								width: 100%;
								max-width: 350px;
							"
						>
							<div style="margin: -8px;">
								<div style="padding: 8px;">
									Check some boxes and reload the page. The boxes will remain checked. If you open a second tab in your browser, the changes to the checkboxes will be reflected between the tabs immediately.
								</div>
								<div style="padding: 8px;">
									<div class="subheading grey--text text--darken-1">
										checked names
									</div>
									<div
										style="
											display: flex;
											flex-wrap: wrap;
										"
									>
										<div
											v-for="name in ['Jack', 'John', 'Mike']"
											style="flex: 1;"
										>
											<v-checkbox
												:label="name"
												v-model="checkedNames"
												:value="name"
												color="cyan"
												hide-details
											></v-checkbox>
										</div>
									</div>
									<div><pre>{{ JSON.stringify(checkedNames) }}</pre></div>
								</div>
								<div style="padding: 8px;">
									<v-text-field
										label="storage key"
										v-model="storageKey"
										hint="Change this to switch between stored items."
										persistent-hint
										color="cyan"
									></v-text-field>
								</div>
							</div>
						</div>
						<div
							style="
								padding: 16px;
								width: 100%;
								max-width: 350px;
							"
						>
							<div
								class="cyan lighten-4"
								style="padding: 8px;"
							>
								<pre>{&#10;  data: {&#10;    storageKey: 'test',&#10;  },&#10;  stored: {&#10;    checkedNames: {&#10;      type: JSON,&#10;      key() {&#10;        return this.storageKey;&#10;      },&#10;      default() {&#10;        return [];&#10;      },&#10;    },&#10;  },&#10;}</pre>
							</div>
						</div>
					</div>
				</v-container>
			</v-content>
		</v-app>
		<script src="demo/index.js"></script>
	</body>
</html>
